appnope==0.1.3
attrs==22.1.0
backcall==0.2.0
cycler==0.11.0
debugpy==1.6.4
decorator==5.1.1
entrypoints==0.4
fancycompleter==0.9.1
fastjsonschema==2.16.2
fonttools==4.38.0
h5py==3.7.0
importlib-metadata==5.1.0
importlib-resources==5.10.1
ipdb==0.13.9
ipykernel==6.16.2
ipython==7.34.0
ipywidgets==8.0.3
jedi==0.18.2
jsonschema==4.17.3
jupyter-client==7.4.8
jupyter-core==4.12.0
jupyterlab-widgets==3.0.4
kiwisolver==1.4.4
matplotlib==3.5.3
matplotlib-inline==0.1.6
nbformat==5.7.0
nest-asyncio==1.5.6
numpy==1.21.6
packaging==22.0
pandas==1.3.5
parso==0.8.3
pdbpp==0.10.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
pkgutil-resolve-name==1.3.10
plotly==5.11.0
prettytable==3.5.0
prompt-toolkit==3.0.36
psutil==5.9.4
ptyprocess==0.7.0
Pygments==2.13.0
pyLLE==4.0.1
pyparsing==3.0.9
pyrepl==0.9.0
pyrsistent==0.19.2
python-dateutil==2.8.2
pytz==2022.6
pyzmq==24.0.1
scipy==1.7.3
six==1.16.0
tenacity==8.1.0
toml==0.10.2
tornado==6.2
traitlets==5.7.1
typing-extensions==4.4.0
wcwidth==0.2.5
widgetsnbextension==4.0.4
wmctrl==0.4
zipp==3.11.0
